@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Outfit:wght@100;400;700&display=swap");

@property --t {
  syntax: "<number>";
  initial-value: 60;
  inherits: true;
}

@property --s {
  syntax: "<integer>";
  initial-value: 0;
  inherits: true;
}
/* header {
  padding: 40px 50px 100px 50px;
} */
.foto {
  padding-top: 1.8px;
  padding-left: 41.8px;
  margin-top: 40px;
  margin-left: 50px;
  height: 40px;
  width: 160px;
}

.countdown {
  --s: calc(var(--t) / 1);
  display: grid;
  position: absolute;

  right: 250px;
  top: 45px;
  width: 10em;
  height: 10em;
  animation: t 60s linear infinite;
}

.countdown::after {
  text-align: center;
  color: white;
  content: "" counter(s, decimal-leading-zero);
  font: 3em /2 outfit;
  counter-reset: s var(--s);
  position: absolute;
  left: 80px;
  top: 80px;

  transform: translate(-50%, -50%);
}
.secondoLabel {
  color: white;
  font-family: inter;
  font-size: 0.8em;
  padding-left: 48px;
  padding-bottom: 50px;
}

.terzoLabel {
  color: white;
  font-family: inter;
  font-size: 0.8em;
  padding-left: 45px;
  padding-bottom: 40px;
}
@keyframes t {
  to {
    --t: 0;
  }
}
svg {
  grid-column: 1;
  grid-row: 1;
}

[r] {
  fill: none;
  stroke: silver;
}
[r] + [r] {
  --k: calc(var(--t) / 60);
  transform: rotate(-90deg);

  stroke: color-mix(in hsl shorter hue, #00ffff calc(var(--k) * 100%), #00ffff);
  stroke-dasharray: var(--k) 1;
}

body,
html {
  /* height: 100%; */
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "outfit", sans-serif;
}

main {
  height: 100%;

  margin-left: auto;
  margin-right: auto;
  padding-top: 4%;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 0%;
}

img {
  height: 40px;
  width: 180px;
  top: 6%;
  left: 12%;
}

footer {
  text-align: center;
  color: white;
  height: 40px;
  bottom: 0;
  width: 100%;
  /* height: 100px; */
  margin-top: 90px;
}

#timer {
  color: white;
  display: block;
  margin-left: 70%;
}

h1 {
  font-weight: 400;
  display: inline-block;
  width: 1000px;

  font-size: 3em;
  color: white;
  margin-bottom: 60px;
}

#question {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 25px;
}

form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 900px;
}

.btn {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: bolder;
  font-size: 1rem;
  padding: 25px 60px;
  border-radius: 50px;
  border: 2.5px solid rgba(219, 219, 219, 0.753);
  border-bottom-style: solid;
  border-bottom-style: hidden;
  border-inline-width: thin;
  width: 400px;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;

  /* box-shadow: 0px 0px 5px 8px rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 5px 8px rgba(255, 255, 255, 0.042);
  -moz-box-shadow: 0px 0px 5px 8px rgba(255, 255, 255, 0.468);
  margin-left: 30px;
  margin-right: 30px;
  width: 500px;
  height: 75px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.102);
  border-radius: 42px;
  border: 2px solid #ffffff2a;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 76px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627; */
}
.btn:hover {
  background: rgb(210, 0, 148);
  background: linear-gradient(
    144deg,
    rgba(210, 0, 148, 1) 0%,
    rgba(144, 0, 128, 1) 52%
  );
  transition: 0.5ms;
}
.btn:active {
  position: relative;
  top: 1px;
}

p {
  font-size: 1.2em;
  display: inline-block;
}

#contatore {
  color: white;
  text-decoration: none;
}

#ten {
  font-weight: 700;
  color: rgb(170, 41, 170);
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.invisibile {
  display: none;
}
