@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Outfit:wght@100;400;700&display=swap");
body {
  background-image: url(../images/bg.jpg);
}

@property --t {
  syntax: "<number>";
  initial-value: 60;
  inherits: true;
}

@property --s {
  syntax: "<integer>";
  initial-value: 0;
  inherits: true;
}

.foto {
  width: 250px;
  position: fixed;
  padding-left: 70px;
  padding-top: 35px;
  top: 20px;
  left: 20px;
}

.countdown {
  --s: calc(var(--t) / 1);
  display: grid;
  position: fixed;
  top: 0px;
  right: 150px;
  width: 10em;
  height: 10em;
  animation: t 60s linear infinite;
}

.countdown::after {
  text-align: center;
  color: white;
  content: "" counter(s, decimal-leading-zero);
  font: 3em /2 outfit;
  counter-reset: s var(--s);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.secondoLabel {
  color: white;
  font-family: inter;
  font-size: 0.8em;
  padding-left: 50px;
  padding-bottom: 43px;
}

.terzoLabel {
  color: white;
  font-family: inter;
  font-size: 0.8em;
  padding-left: 45px;
  padding-bottom: 40px;
}
@keyframes t {
  to {
    --t: 0;
  }
}
svg {
  grid-column: 1;
  grid-row: 1;
}

[r] {
  fill: none;
  stroke: silver;
}
[r] + [r] {
  --k: calc(var(--t) / 60);
  transform: rotate(-90deg);

  stroke: color-mix(in hsl shorter hue, #00ffff calc(var(--k) * 100%), #00ffff);
  stroke-dasharray: var(--k) 1;
}
