@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Outfit:wght@100;400;700&display=swap');

#container {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Outfit', sans-serif;
  width: 95vw;
  height: 95vh;
  text-align: center;
}
.header {
  margin: 35px 0 50px 80px;
  text-align: left;
}

.logo {
  width: 160px;
  height: 35px;
}

.mainTitle {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Outfit', sans-serif;
  margin-bottom: 20px;
}

.feedbackQuestion {
  font-size: 23px;
  line-height: 35px;
  color: #dedee3;
  font-family: 'Inter', sans-serif;
  margin: 0 100px 40px 100px;
}

#commentsBox {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid #900080;
  width: 650px;
  color: grey;
  padding: 10px 25px;
  font-size: 18px;
  margin-bottom: 50px;
}
#commentsBox::placeholder {
  padding: 0 0 10px 15px;
}
input:focus::placeholder {
  color: transparent;
}

.footer {
  text-align: center;
}

.button {
  font-family: 'Outfit', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  width: 200px;
  font-size: 1.5rem;
  font-weight: bold;
  background: transparent;
  border: 2px solid white;
  padding: 15px;
}

.blueButton {
  background: #00ffff;
  box-shadow: 2px 2px 30px #00ffff;
  color: #0b113b;
  border: none;
}

/* Rating stars design */

.rating {
  display: inline-block;
  position: relative;
  font-size: 0;
}

.star {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin: 0 6px 25px 6px;
}

.star:hover {
  transform: scale(1.2);
}

#rating {
  margin-bottom: 55px;
}
