@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Outfit:wght@100;400;700&display=swap");

body {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  padding: 40px 100px 100px 100px;
  background-size: cover;
}
#headerr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.logo1 {
  width: 140px;
  height: 40px;
}
