@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Outfit:wght@100;400;700&display=swap");

body {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  padding: 40px 100px 100px 100px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: font-family: 'Inter', sans-serif;
  font-family: 'Outfit', sans-serif;;
}
#headerr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.logo1 {
  width: 140px;
  height: 40px;
}
button {
  cursor: pointer;
  border: 1px solid #ffffff;
  background-color: transparent;
  height: 50px;
  width: 200px;
  color: #ffffff;
  font-size: 1.5em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
